.dire {
    font-size:"10px"
}
.carousel-inner .carousel-item img {
    width: 100% !important;
    height: 450px !important;
    object-fit: cover !important;
    object-position: center center !important;
}
.fs-7 {
    font-size: .9em !important
}
.redes:hover {
color: #032B23 !important;
}
.dropdown {
    background-color: #EEE7CE;
}
.dropdown .dropdown-menu {
    background-color: #EEE7CE;
    color:white;
    text-decoration-color: white;
}
.dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #064439;
}
.altura{
    height: 430px;
}
.cardm{
    height: 60px;
}
.altura1{
    height: 330px;
}
.margi1 {
    margin-top: 70px;
   
  }
  .margi2 {
    padding-top: 20px;
   
  }
.center1{
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    
}
.mt-5 {
    margin-top: 1px;
  }
.altoletra {
    height: 70px;
}
.colorbutton{
    background-Color: #DED4B1;
    box-shadow: 0px 5px 5px 0px #053A31;
}
.colorbutton:active{
    background-color: #CBBF91;
    box-shadow: 1px 5px 5px 1px #5A8E8E;
}
.text-letra{
    color: #064439
}
.colorholder{
    color: black
}
.marges {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  }
.fonnav {
    background-color: #064439;
}
.colorbuttonnav{
    background-Color: #DED4B1;
    box-shadow: 0px 5px 5px 0px #FDFDFD;
}
.colorbuttonnav:active{
    background-color: #CBBF91;
    box-shadow: 1px 5px 5px 1px #5A8E8E;
}
.marg1{
    margin-top: 50px;
}